/* WORKOUT PAGE */

.day-card{
background:#1e3a8a;
padding:30px;
border-radius:20px;
margin:40px auto;
max-width:1000px;
box-shadow:0 0 25px rgba(96,165,250,.3);
}

.day-card h2{
text-align:center;
color:#ffffff;
margin-bottom:30px;
font-size:32px;
}

.exercise-card{
background:#2563eb;
padding:20px;
border-radius:15px;
margin-bottom:25px;
text-align:center;
transition:transform .2s ease;
}

.exercise-card:hover{
transform:translateY(-3px);
}

.exercise-card h3{
color:white;
margin-bottom:10px;
font-size:24px;
}

.exercise-card p{
color:#dbeafe;
font-size:18px;
}

.exercise-img{
width:300px;
height:220px;
object-fit:cover;
border-radius:15px;
margin-top:15px;
border:3px solid #60a5fa;
box-shadow:0 0 20px rgba(96,165,250,.5);
display:block;
margin-left:auto;
margin-right:auto;
}

.quote-box{
background:#0b2e6b;
color:#b3d9ff;
text-align:center;
font-size:22px;
font-style:italic;
padding:20px;
border-radius:15px;
max-width:900px;
margin:30px auto;
}

@media (max-width: 768px){

.exercise-img{
width:100%;
height:auto;
}

.day-card{
padding:20px;
}

.day-card h2{
font-size:26px;
}

.exercise-card h3{
font-size:20px;
}

}
